.mainbanner img {
    margin-top: 60px;
    margin-bottom: 50px;
    width: 100%;
    max-height: 800px;
    display: block;
  }

.category-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 70px;
    margin: auto auto; 
    width: 90%; 
    min-height: 40vh;
    gap: 40px;

  }
  
  .category-square {
    width: 280px;
    margin: 10px; 
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.category-square:nth-child(1) {
    background-color: #5F849C;
  }
  
  .category-square:nth-child(2) {
    background-color: #DFDDD3;
  }
  
  .category-square:nth-child(3) {
    background-color: #DAE4EB;
  }
  
  .category-square:nth-child(4) {
    background-color: #9E9383;
  }
  
  .category-square a {
    text-decoration: none;
    color: #fff; 
  }

  .border{
    width: 260px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
  }


.popular-products-section {
    margin: 100px 30px;
    min-height: 30vh;
    padding-bottom: 50px;
}

.photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px; 
    border-top: 1px solid #5F849C;
    padding-top: 70px;
}

.photos img {
    width: 100%; 
    height: 250px; 
    object-fit: cover; 
}

.popular-products-section button{
    height: 50px;
    width: 300px;
    margin: 50px 10px;
    background-color: #DAE4EB;
    border: none;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    cursor: pointer;
}


.benefits {
    display: flex;
    flex-direction: column;
    margin: 40px 30px; 
}

.benefits h2 {
    margin-bottom: 20px;
}

.benefits-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 50px;
    border-top: 1px solid #5F849C;
}

.benefit-square {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    width: 350px;
    height: 200px;
    border: 3px solid #5F849C;
    text-align: center; 
}

@media (max-width: 1200px) {
    .category-section {
        width: 90%;
    }

    .photos {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 768px) {
    .category-section {
        width: 100%;
    }

    .photos {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}