.product-container{
 margin:60px 10px;
}

/* Products.css */

/* Search bar styling */
.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Adjust margin as needed */
    gap: 30px;
  }
  
  .search-bar input {
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5F849C;

  }

  .search-bar button {
    width: 6%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5F849C;
    background-color: rgb(23, 91, 128);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Sorting options dropdown styling */
  .search-bar select {
    width: 10%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5F849C;

  }
  
  .product-display {
    margin: 50px 70px; /* Center the product display area */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

  }
  
  .product-card {
    width: 300px;
    height: 420px;
    margin: 0 auto; /* Center the product card within the grid column */
    border: 1px solid #DAE4EB;
    padding: 30px;
    text-align: center;
    
  }
  
  .product-card img {
    width: 250px;
    height: 300px;
  }

  .addToCart{
    width: 100px;
    background-color: #DAE4EB;
    border: none;
    border-radius: 7px;
    font-family: 'Merriweather', serif;
    cursor: pointer;
    margin-bottom:30px ;
}

.addToCart.added {
    background-color: #3B6371; /* Darker color when added to cart */
    color: white; /* White text color when added to cart */

  }
  .product-link {
    text-decoration: none; /* Usunięcie domyślnego podkreślenia linku */
    color: inherit; /* Dziedziczenie koloru tekstu */
    cursor: pointer; /* Zmiana kursora po najechaniu na kartę */
  }
  
  
  .pagination {
    display: flex;
    justify-content: center;
    height: 40px;
    color: white;
    gap: 20px;
  }
  
  .pagination button {
    background-color:none ;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 7px;

  }
  
  .pagination button.active {
    font-weight: bold;
    color: #ffff;
    background-color: #5F849C; /* Change to the desired color for the active page */
  }
  
  @media screen and (max-width: 1200px) {
    .product-display {
      grid-template-columns: repeat(2, 1fr); /* Two products in a row for screens up to 1200px */
    }
    .search-bar input {
        width: 70%;
    
      }
      
      .search-bar select {
        width: 20%;
    
      }
      
  }
  
  @media screen and (max-width: 600px) {
    .product-display {
      grid-template-columns: repeat(1, 1fr); /* One product in a row for screens up to 600px */
    }
  }