.product-container{
 margin:60px 10px;
 min-height: 42vh;
}


.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
    gap: 30px;
  }
  
  .search-bar input {
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5F849C;

  }

  .search-bar button {
    width: 6%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5F849C;
    background-color: rgb(23, 91, 128);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .search-bar select {
    width: 10%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5F849C;

  }
  
  .product-display {
    margin: 50px 70px; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

  }
  
  .product-card {
    width: 300px;
    height: 350px;
    margin: 0 auto;
    border: 1px solid #DAE4EB;
    padding: 30px;
    text-align: center;
    
  }
  
  .product-card img {
    width: 270px;
    height: 250px;
  }

  .addToCart{
    width: 100px;
    background-color: #DAE4EB;
    border: none;
    border-radius: 7px;
    font-family: 'Merriweather', serif;
    cursor: pointer;
    margin-bottom:30px ;
}

.addToCart.added {
    background-color: #3B6371;
    color: white; 

  }
  .product-link {
    text-decoration: none; 
    color: inherit; 
    cursor: pointer; 
  }
  
  
  .pagination {
    display: flex;
    justify-content: center;
    height: 40px;
    color: white;
    gap: 20px;
  }
  
  .pagination button {
    background-color:none ;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 7px;

  }
  
  .pagination button.active {
    font-weight: bold;
    color: #ffff;
    background-color: #5F849C; 
  }
  
  @media screen and (max-width: 1200px) {
    .product-display {
      grid-template-columns: repeat(2, 1fr);
    }
    .search-bar input {
        width: 70%;
    
      }
      
      .search-bar select {
        width: 20%;
    
      }
      
  }
  
  @media screen and (max-width: 600px) {
    .product-display {
      grid-template-columns: repeat(1, 1fr); 
    }
  }