
.product-view-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 70px 30px;
    gap: 20px;
  }
  
  .product-image img {
    width: 100%;
    max-width: 100%; 
    height: 100%;
  }
  
  .product-info {
    margin-left: 30px; 
  }
  
  .product-info h2 {
    font-size: 36px;
  }
  
  .product-info h3 {
    font-size: 20px;
    color: #4f6d82;
  }

  .add{
    
    height: 40px;
    width: 300px;
    margin: 20px 0;
    background-color: rgb(61, 112, 139);
    color: white;
    border: none;
    
    font-size: 20px;
    font-family: 'Merriweather', serif;
  }

  .add.clicked {
    background-color: #676767; /* Kolor po kliknięciu */
    color: white; /* Kolor tekstu po kliknięciu */
  }
  
  .product-info p {
    width: 90%; 
  }
  
  .size-list {
    display: flex;
    flex-wrap: wrap; 
  }
  
  .size-rectangle {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
  }
  
  .size-rectangle:hover {
    background-color: #ccc;
  }
  
  .size-rectangle.selected {
    background-color: #000;
    color: #fff;
  }
  